:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #ffffff;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
}
h2 {
  font-family: var(--heading-font-family);
  line-height: 2;
  font-size: 64px;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
}
.btn-branding {
  background: var(--branding-color);
  color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 40px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 40px;
}
.img-self {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 500px;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}
.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content-container p {
  font-size: 14px;
  font-family: var(--default-font-family);
  line-height: 2;
}
.content {
  margin: 30px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
.navbar-brand {
  font-family: var(--heading-font-family);
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 16px;
  font-family: var(--default-font-family);
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 50px 30px;
  }
  .content-container {
    text-align: center;
    padding: 160px 20px;
  }
}
