body {
  background-color: aqua;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: aliceblue;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: aliceblue;
}
